# OS X
.DS_Store

# Android Studio
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/

# Windows thumbnail db
Thumbs.db

# Local configuration file (sdk path, etc)
local.properties

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Xcode
build/
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3

# Android builds
gen/
out/
workspace.xml
app/manifest-merger-internal-release-report.txt
app/manifest-merger-playstore-release-report.txt
#ReadingTracker.iml
#app/app.iml
#ParseLoginUI/ParseLoginUI.iml
ParseLoginUI/ParseLoginUI.iml
app/app.iml
facebook-sdk/facebook/facebook.iml
