<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.viorsan.dollmaster"
          android:versionCode="101"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--history -->
    <!-- how to use: https://stackoverflow.com/questions/2577084/android-read-browser-history
         but it appears it's not real-time -->
  <!--  <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
      -->


    <!-- Play Services: we need to knew current activity -->
    <uses-permission
        android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <!-- experiment with permissions
         Yes, I knew this doesn't make technical sense
         For now.
         This is also simple way to add something...interesting
         -->
    <!-- we declare new permissions -->
    <permission android:name="com.viorsan.dollmaster.ACCESS_SLAVE_CONTROL_HARDWARE" android:label="@string/permAccessSlaveControlHW" android:protectionLevel="dangerous"/>
    <permission android:name="com.viorsan.dollmaster.MINDCONTROL" android:label="@string/permMindControl" android:protectionLevel="dangerous"/>

    <!-- and say we need them -->
    <uses-permission android:name="com.viorsan.dollmaster.MINDCONTROL" />
    <uses-permission android:name="com.viorsan.dollmaster.ACCESS_SLAVE_CONTROL_HARDWARE" />




    <!-- Icon is from http://www.flaticon.com/free-icon/marionette-puppet-silhouette_33882
     License according to source is
     License: Creative commons
     You are free to use this icon for commercial purposes, to share or to modify it. In exchange, it's necessary to credit the author for the original creation.
     TODO: add original license link
    -->
    <!--android.view.accessibility.AccessibilityNodeInfo.getViewIdResourceName = API Level 18 (4.3)
        so it's VERY bad idea to have minSdkVersion <18. BookTracker won't work anyway
         and BTLE hacks will work wrong
         29 Nov 2014: We CAN use API 17 now for BookTracker
         -->
    <uses-sdk android:minSdkVersion="17"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/dollmaster"
        android:name=".MyApplication">
        <!-- android:requiredAccountType="com.viorsan.dollmaster.account">    -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <!-- Google Play Services support -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <!-- Facebook support https://developers.facebook.com/docs/android/getting-started -->
       <!--
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity"/>
           -->
        <activity
            android:name="MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".***REMOVED***Service"
                 android:enabled="true"></service>
        <service
            android:name=".ActivityMonitoringService"
            android:label="@string/app_name"
            android:exported="false">
        </service>

        <service android:name=".AccessibilityRecorderService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                       android:resource="@xml/accessibilityconfig" />
        </service>


        <receiver android:name=".***REMOVED***Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>



         </receiver>
    </application>
</manifest>
