<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viorsan.readingtracker" >

    <!-- required for ParseAnalytics.trackEvent -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Mixpanel:
        This permission is optional but recommended so events will
        contain information about bluetooth state
        -->

    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->

    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Parse-based push notification support. Network state too -->
    <!--
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -->
    <!--
  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
 -->
    <!--
    <permission android:protectionLevel="signature"
        android:name="com.viorsan.readingtracker.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.viorsan.readingtracker.permission.C2D_MESSAGE" />
    -->
    <!-- For espresso testing purposes, this is removed in live builds, but not in dev builds -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />



    <!--
     Icon is from http://www.flaticon.com/free-icon/marionette-puppet-silhouette_33882
     License according to source is
     License: Creative commons
     You are free to use this icon for commercial purposes, to share or to modify it. In exchange, it's necessary to credit the author for the original creation.
     TODO: add original license link and for now let's assume in-comment link is ok
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/readingtracker"
        android:label="@string/app_name"
        android:largeHeap = "true"
        android:theme="@style/Theme.AppCompat" >
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <!-- We reference a drawable resource here, so we must use android:resource -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/logo"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <!-- We reference a string-array resource here, so we must use android:resource -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
                android:resource="@array/my_facebook_permissions" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/push_icon"/>
        <service
            android:name=".CoreService"
            android:enabled="true" />
        <service
            android:name=".AccessibilityRecorderService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityconfig" />
        </service>

        <receiver android:name=".CoreBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.viorsan.readingtracker" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
